.signup-block {
  z-index: -200;
  font-family: "Montserrat", sans-serif;
  min-height: 90%;
  width: 100%;
  /*border-right:1px solid #eee;*/
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.9)),
    url("/bg3.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  /* height: 90%; */
  /*padding-left: 7%;*/
}

.signup-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  margin: 1rem;
  margin-top: 2em;
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 50%; */
  /* margin: 20px auto; */
  /* height: 200px; */
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* .signup-btn-grp {
  margin: 3em auto 0em;
} */

.border {
  border-top: 1px solid #eee;
  margin: 1em 0;
}

.manager__signup--btn,
.signup__choose--btn {
  /* height: 70%; */
  /* width: 50%; */
  background-color: #0057ff;
  /* background-color: #52b3d9; */
  background-image: none;
  border: 1px solid transparent;
  border-radius: 50px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  /* font-weight: 600; */
  line-height: 1.25;
  padding: 6em;
  text-shadow: none;
  transition-duration: 300ms;
  transition-property: background, color, border;
  transition-timing-function: linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  padding: 0.8em 1.8em;
  margin: 1rem auto;
  /* text-transform: capitalize; */
  width: 100%;
}

.signup__title {
  font-family: "Open Sans";
  font-weight: normal;
  margin: 5px 0 1em 0;
  /* border-bottom: 1px solid #eee; */
  /* padding: 0em 0 1em; */
  text-align: center;
}

.signin--block {
  display: block;
  text-align: center;
  padding: 20px;
}

.signup-ctrl {
  /* height: 70%; */
  /* width: 50%; */
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 18px;
  /* font-weight: 600; */
  line-height: 1.25;
  padding: 6em;
  text-shadow: none;
  padding: 0.8em 1.8em;
  margin: 1rem auto;
  /* text-transform: capitalize; */
  width: 100%;
}

.info-red {
  color: red;
  text-align: center;
}

.signup-ctrl > div {
  height: 100%;
  border: none;
  background: #fff;
}
