.sidebar {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 40%;
  /*border-right:1px solid #eee;*/
  padding: 10px;

  /*padding-left: 7%;*/
}

.options-card {
  background: #fff;
  border: 1px solid #eee;
  /* border-radius: 5px; */
  margin: 1rem;
  width: 80%;
}

.card__title {
  font-weight: bold;
  margin: 5px 0 15px 0;
}

.card {
  margin: 20px auto;
  /* height: 200px; */
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ctrl {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #0c1442;
}

.check {
  float: right;
  border: 1px solid #eee;
  margin: 3px 3px 3px 4px;
}
